.input{
    width: 15%;
    margin: 10% 3% 0% 0%;
    padding: 0.5%;
}

.button{
    padding: 0.5% 1% 0.5% 1%;
    background-color: #0A79DF;
    outline: none;
    border: none;
    cursor: pointer;
}